@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,700&family=Inter:wght@300;400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background: linear-gradient(to bottom right, #4e4eda 75%, #1111d8 100%);
    font-family: 'Inter';
    color: white;

    --sb-track-color: #ffffff;  
    --sb-thumb-color: #4e4eda;
    --sb-size: 16px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
    border: 4px solid #ffffff;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(40, 40, 40);
}

h1,
h2,
h3 {
    font-family: 'Bricolage Grotesque';
}

h4,
h5,
h5,
h6,
p,
textarea,
button {
    font-family: 'Inter';
}

textarea {
    width: 95%;
    height: 50px;
    max-width: 97vw;
    max-height: 150px;
    border-radius: 20px;
}

button {
    border-radius: 1rem;
    font-size: 16px;
    margin-top: 20px;
    margin-right: 10px;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 70px;
    user-select: none;
}

span #morse {
    text-align: center;
}

.text-container {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 600px;
}