@import url(fonts.css);

:root {
    --primary-color: #000;
    --accent-color: #4e4eda;
    --bg-color: #CED4DA;

    --sb-size: 16px;
}

body {
    margin: 0px;
    background-color: var(--bg-color);
    font-family: 'Inter';
    color: #000;
}

body::-webkit-scrollbar {
    width: var(--sb-size)
}

body::-webkit-scrollbar-track {
    background-color: #F8F9FA;
}

body::-webkit-scrollbar-thumb {
    background-color: #282828;
    border-radius: 10px;
    border: 4px solid #F8F9FA;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #4e4eda;
}

::selection {
    color: #fff;
    background-color: #282828;
}

h1,
h2,
h3 {
    font-family: 'Bricolage Grotesque';
}

h4,
h5,
h5,
h6,
p,
button,
input,
textarea {
    font-family: 'Inter';
}

noscript {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    justify-content: center;
    background-color: #e0e780;
    color: #000000;
    padding: 10px 20px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(1.5rem);
    background-color: #edededde;
    color: #000000;
    padding: 10px 20px;
}

.logo img {
    width: 200px;
}

.nav-links {
    display: flex;
    gap: 20px;
    color: #000000;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

.menu-toggle {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.btn {
    user-select: none;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    border: #000000;
    border-radius: 1rem;
    transition: 0.3s;
}

.btn:hover {
    background-color: #4e4eda;
    color: #fff;
}

.btn:disabled {
    cursor: not-allowed;
    transition-delay: 999s;
}

.btn-container {
    margin: 10px;
}

.result {
    background-color: #ffffff00;
    color: #fff;
}

.title {
    user-select: none;
    margin-top: 125px;
    margin-bottom: 30px;
    color: #000;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
}

.input {
    width: 95%;
    height: 50px;
    min-height: 50px;
    max-width: 95%;
    max-height: 265px;
    border-radius: 10px;
    resize: vertical;
}

.conv-container {
    display: block;
    margin-left: 22vw;
    margin-bottom: 120px;
    background-color: #ffffff17;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px #0000007a;
    text-align: center;
    max-width: 50vw;
    width: 90%;
}

.result-label {
    font-weight: bold;
}

.result {
    color: #000;
}

.faq-header {
    user-select: none;
    margin-top: 100px;
    margin-bottom: 70px;
    font-size: 40px;
    text-align: center;
}

.faq-article {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 23vw;
    width: 600px;
    justify-content: center;
    align-items: center;
}