@import url(normalize.css);
@import url(skeleton.css);
@import url(fonts.css);

:root {
    /* REGLAS PRINCIPALES */
    --primary-color: #000;
    --secondary-color: #fff;
    --accent-color: var(--majorelle-blue);

    --bgcolor: #EAF4F4;
    --bgcolor-b: #dddddd;


    /* REGLAS DE TEMAS */
    /* Rojo */
    --light-coral: #ef6f6cff;

    /* Azul */
    --majorelle-blue: #5564ebff;

    /* Naranja */
    --ut-orange: #ff8500ff;

    /* Amarillo */
    --mikado-yellow: #ffc300ff;

    /* Verde */
    --viridian: #007f5fff;

    /* Violeta */
    --amethyst: #9d4eddff;

    /* Café */
    --walnut-brown: #5e503fff;

    /* Negro */
    --charcoal: #2e4057ff;

    
    /* REGLAS DE SCROLLBAR */

    --sb-track-color: var(--bgcolor-b);
    --sb-thumb-color: var(--accent-color);
    --sb-size: 12px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

:root::-webkit-scrollbar {
    width: var(--sb-size)
}

:root::-webkit-scrollbar-track {
    background: var(--sb-track-color);
}

:root::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 3.5px;
    border: 1px;
}

:root::-webkit-scrollbar-thumb:hover {
    display: unset;
}

:root::selection {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    margin-top: 140px;
}

h1,
h2,
h3,
h4,
h5,
h5,
h6,
th {
    font-family: 'Bricolage Grotesque';
}


p,
button,
input,
textarea,
td {
    font-family: 'Inter';
}

noscript {
    background-color: var(--mikado-yellow);
    color: var(--primary-color);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 110;
    justify-content: center;
    padding: 10px 20px;
    text-align: center;
    align-items: center;
}

noscript h3, p {
    margin: 15px;
}

textarea {
    border-radius: 10px;
}

table {
    width: 40%;
    margin: auto;
    border-collapse: separate;
    border: solid var(--primary-color) 1px;
    border-radius: 10px;
}

td,
th {
    border-left: solid var(--primary-color) 1px;
    border-top: solid var(--primary-color) 1px;
}

th {
    border-top: none;
}

td:first-child,
th:first-child {
    border-left: none;
    padding: 10px;
}

.navbar {
    background-color: var(--bgcolor-b);
    color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    overflow: hidden;
    box-shadow: 0 8px 12px #0000007a;
}

.navbar-btn {
    float: left;
    display: block;
    color: var(--primary-color);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
}

.navbar-btn:hover {
    opacity: 0.5;
}

.navbar-btn:active {
    background-color: var(--primary-color);
    color: black;
}

.n-btn-desktop {
    display: none;
    transition: 0.3s;
}

.n-btn-responsive {
    display: unset;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    justify-content: center;
    transition: 0.3s;
}

.navbar .nav-menu {
    display: none;
}

.logo img {
    display: block;
    float: left;
    width: 200px;
}

.btn {
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    border: none;
    transition: 0.3s;
}

.btn-secondary {
    -webkit-user-select: none;
    user-select: none;
    border: none;
    transition: 0.3s;
}

.btn:active {
    color: var(--secondary-color);
}

.btn:hover {
    color: var(--secondary-color);
    opacity: 0.7;
}

.btn:hover:disabled {
    background-color: var(--accent-color);
    color: var(--secondary-color);
    opacity: 0.5;
    cursor: not-allowed;
}

:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.btn-container {
    -webkit-user-select: none;
    user-select: none;
    display: inline-block;
    transition: 0.3s;
}

.result {
    background-color: #ffffff00;
    color: var(--secondary-color);
}

.title {
    -webkit-user-select: none;
    user-select: none;
    color: var(--primary-color);
    text-align: center;
    font-weight: 800;
    margin-bottom: 40px;
}

.input {
    width: 95%;
    height: 50px;
    min-height: 50px;
    max-width: 95%;
    max-height: 265px;
    resize: vertical;
}

.conv-container {
    background-color: var(--bgcolor-b);
    display: block;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 12px #0000007a;
    text-align: center;
}

.result-label {
    font-weight: bold;
}

.result {
    color: var(--primary-color);
}

.section-title {
    -webkit-user-select: none;
    user-select: none;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 10px;
    animation: fade-in 0.3s;
}

.modal-content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    transition: 0.3s;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
    animation: fade-in 0.3s;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.modal.fade-out {
    animation: fade-out 0.3s;
}

.overlay.fade-out {
    animation: fade-out 0.3s;
}

.noscroll {
    overflow: hidden;
}

@media screen and (min-width: 655px) {
    textarea {
        height: 170px;
    }

    .n-btn-desktop {
        display: unset;
        transition: 0.3s;
    }
    
    .n-btn-responsive {
        display: none;
        transition: 0.3s;
    }
}

@media screen and (min-width: 695px) {
    textarea {
        height: 170px;
    }

    .conv-container {
        max-width: 65vw;
        transition: 0.3s;
    }
}

@media screen and (min-width: 920px) {
    .conv-container {
        max-width: 50vw;
        transition: 0.3s;
    }

    .modal-content {
        max-width: 400px;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1380px) {
    .conv-container {
        max-width: 55vw;
        transition: 0.3s;
    }
}

@media screen and (min-width: 1475px) {
    .conv-container {
        max-width: 40vw;
        transition: 0.3s;
    }
}