@import url(styles.css);

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.telegraph {
    background-color: #fff;
    border: 2px solid var(--accent-color);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.key {
    background-color: var(--accent-color);
    width: 100px;
    height: 40px;
    margin: 10px auto;
    cursor: pointer;
}

textarea {
    resize: vertical;
    width: 80%;
    max-height: 270px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    user-select: none;
    transition: 0.3s;
}

button:hover {
    background-color: #333;
    color: #fff;
}